@import "tailwindcss";

@theme {
  --font-cairo: 'Cairo', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --color-brand-cyan: #06B6D4;
  --color-brand-blue: #2563EB;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #030712;
}

.font-cairo {
  font-family: var(--font-cairo);
}

.font-inter {
  font-family: var(--font-inter);
}
